@import 'common.less';
@import 'bootstrap3/bootstrap.less';

// ------------------------------------初始化开始-----------------------------------------
html, body {
    .percent-box();

    font-family: 'Miscrosoft Yahei', '微软雅黑';
    font-size:14px;

    color:#d6d6d6;
}


// ------------------------------------初始化结束-----------------------------------------


// ------------------------------------框架开始-----------------------------------------

@bgColor:#212327;
@borderColor:#3e414a;

body {
    background-color:@bgColor;
    //background-color:#000;
    //padding:38px;
}



.scene-video {
    .percent-box();
    position:absolute; 
}

.scene-canvas {
    .percent-box();
    position:absolute; 
    font-size:0;

    canvas {
        opacity:0.8;
    }
}

.scene-main {
    .percent-box();

    position:absolute;
    padding:38px;

    //display:none;
}

.wrapper {
    .percent-box();

    border:1px solid @borderColor;
    //background:url(../../img/logo.png) center no-repeat;
    background-size:50%;
    position:relative;

    .menu {
        position:absolute;
        top:50px;
        right:100px;

        li {
            float:left;
            margin-right:30px;
        }
    }

    @header-height:0px;
    .content {
        //background-color:beige;
        height:100%;

        @s:"100% - @{header-height}";
        // height: e("-webkit-calc(@{s})");
        // height: e("-moz-calc(@{s})");
        // height: e("-o-calc(@{s})");
        // height: e("-ms-calc(@{s})");
        //height: e("calc(@{s})");
        padding:15vh 15vw;


        >div {
            display:none;
        }

        .welcome {
            overflow:hidden;

            .carousel {
                width:100%;
                height:120%;

                ul {
                    .percent-box();
                }

                li {
                    .percent-box(100%, 120%);
                    position:absolute;
                    padding-top:15vh;
                    //transform: rotate(25deg);
                    transform-origin:bottom;
                    //opacity:1;
                    //display:none;
                    
                    
                    &.in {
                        animation:welcomeIn 1000ms cubic-bezier(0.23, 1, 0.32, 1) 1 alternate;
                    }

                    &.out {
                        animation:welcomeOut 1000ms cubic-bezier(0.23, 1, 0.32, 1) 1 alternate;
                        //display:none;
                    }

                    img {
                        width:80%;
                        margin:0 auto;
                        display:block;
                    }
                }

                .more {
                    position:absolute;
                    bottom:25vh;
                    left:35%;
                    width:30%;
                    margin:0 auto;
                    display:block;
                }
            }

            .about {
                display:none;
                text-align:center;

                .info {
                    width:80%;
                    margin-bottom:3vh;
                }

                .btn-contact {
                    width:20%;
                    margin-right:1%;
                }

                .btn-product {
                    width:20%;
                    margin-left:1%;
                }
            }

        }

        .index {
            overflow:hidden;

            .row > div {
                position:relative;
                overflow:hidden;

                >div {
                    .percent-box();
                    position:absolute;
                    background-color:#333;
                    background-color:rgba(51,51,51,0.8);
                    top:100%;
                    left:0;
                    text-align:center;

                    img {
                        width:70%;
                        margin:10% auto 5px auto;
                    }
                }
            }


            .img-responsive {
                animation:productZoom 2000ms cubic-bezier(0.175, 0.885, 0.320, 1.275) 1 alternate;
            }
        }

        // 联系
        .contact {
            >div>div {
                padding:0 30px;
            }

            .title {
                h1 {
                    margin-top:0;
                }

                h5 {
                    line-height:20px;
                }
            }

            .form {
                margin-top:50px;

                form {
                    

                    input, textarea {
                        display:block;
                        margin-bottom:25px;
                        width:100%;
                        background-color:@bgColor;
                        border:1px solid @borderColor;
                    }

                    input[type='text'] {
                        height:32px;
                        line-height:32px;
                        padding:0 8px;
                    }

                    textarea {
                        height:100px;
                        padding:8px;
                    }

                    input[type='button'] {
                        display:inherit;
                        float:right;
                        right:0;
                        width:120px;
                        height:32px;
                        line-height:26px;
                    }
                }
            }

            .info {
                margin-top:50px;

                dl {
                    dt {
                        background-repeat:no-repeat;
                        text-indent:25px;
                        margin-bottom:5px;
                    }

                    dd {
                        margin-bottom:24px;
                    }

                    .tel {
                        background-image:url('https://dummyimage.com/20/fcc');
                    }

                    .mail {
                        background-image:url('https://dummyimage.com/20/f3c');
                    }

                    .address {
                        background-image:url('https://dummyimage.com/20/33c');
                    }
                }

                .tips {
                    padding-left:10px;
                }
            }
        }
    }

    .share {
        @spacing:15px;

        position:absolute;
        top:@spacing;
        right:@spacing;
    }

    .logo {
        position:absolute;
        top:50%;
        margin-top:-50px;
        //top:e("calc(50%-50px)");
    }

    .copyright {
        @spacing:15px;

        position:absolute;
        bottom:@spacing;
        right:@spacing;
        text-align:right;
    }
}


// ------------------------------------框架结束-----------------------------------------


// ------------------------------------bootstrap调整开始-----------------------------------------

.container-fluid {
    .percent-box();
    overflow-y:hidden;
}

.navbar-tronm {
    //background-color:#333;

    // 清除nav的设置
    margin-bottom:0;
    //border:0;
    position:absolute;
    z-index:10;
    width:100%;

    .icon-bar {
        background-color:#d6d6d6;
    }

    ul {
        position:absolute;
        top:50px;
        right:100px;

        li {
            float:left;
            margin-right:30px;

            a {
                position: relative;
                text-decoration:none;
                color:#FFF;
                padding:0;
                padding-bottom:5px;
                //background-color:@bgColor;

                /*&:hover {
                    //background-color:@bgColor;
                    background-color:initial;
                }*/

                &:visited {
                    //background-color:@bgColor;
                    background-color:initial;
                }



                &::after {
                  content: '';
                  position: absolute;
                  bottom: 0;
                  left: 0;
                  width: 100%;
                  height: 1px;
                  background-color: #fff;
                  transform: scaleX(0);
                  transition: transform 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
                }

                &:hover::after {
                    transform: scaleX(1);
                    transition: transform 0.1s cubic-bezier(0.215, 0.61, 0.355, 1);
                }
            }
        }
    }
}
// ------------------------------------bootstrap调整结束-----------------------------------------



// ------------------------------------手机细节修正开始-----------------------------------------
@media screen and (max-width: 768px) {
    body {
        //padding:5px;
    }

    .scene-main {
        padding:0px;
    }


    .wrapper {
        .copyright {
            font-size:12px;
            text-align:center;
            bottom:5px;
            right:0;
            width:100%;
        }



        .content {
            padding:11vh 8vw;

            .welcome {
                .carousel {

                    li {
                        padding-top:30%;
                        width:100%;
                    }

                    .more {
                        width:50%;
                        left:25%;
                        bottom:30%;
                    }
                }

                .about {

                    .info {
                        margin-top:20%;
                        width:100%;
                    }

                    .btn-contact, .btn-product {
                        width:30%;
                    }
                }
            }

            .contact {
                >div>div {
                    padding:0;
                }

                .qr {
                    text-align:center;

                    img {
                        display:initial;
                    }
                }

                .tips {
                    padding-top:10px;
                    padding-left:0;
                    text-align:center;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .navbar-tronm {
        background-color: #222;
        border-color: #080808;

        .navbar-collapse {
            border-color: #101010;
        }

        ul {
            position:initial;

            li {
                float:none;
                margin-right:0;

                a {
                    position: relative;
                    display: block;
                    padding: 10px 15px;

                    &:hover {
                        background-color:transparent;
                    }

                    &::after {
                      content: '';
                      position:initial;
                      bottom: 0;
                      left: 0;
                      width:initial;
                      height:initial;
                      background-color:none;
                      transform:initial;
                      transition:inherit;
                    }

                    &:hover::after {
                        transform:initial;
                        transition:initial;
                    }
                } // a
            } // li
        } // ul

        .navbar-brand {
            color:#FFF;
            padding-left:30px;
        }
    }
}

// ------------------------------------手机细节修正结束-----------------------------------------



@keyframes productZoom {
    from { transform: scale(0.1); }
    to {transform: scale(1);}
}

@keyframes welcomeIn {
    from { transform: rotate(40deg); opacity:0; }
    to {transform: rotate(0deg); opacity:1;}
}

@keyframes welcomeOut {
    from { transform: rotate(0deg); opacity:1; }
    to {transform: rotate(-40deg); opacity:0;}
}